@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,400i,700,700i);

body { font-family: 'Open Sans'; }
h1, h2, h3 {
  font-family: 'PT Sans';
  font-weight: normal;
}
.remark-code, .remark-inline-code {
  font-family: 'Inconsolata';
  font-size: 23px;
}

.remark-inline-code {
  font-size: inherit;
  background: #E3E3E3;
  padding: 0.03em 0.2em;
  color: indianred;
}

.remark-slide-content blockquote {
  border-left: .4em solid #E3E3E3;
  padding-left: .4em;
  padding-top: .6em;
  padding-bottom: .6em;
  margin-left: 0;
  border-top: .4em solid transparent;
  border-bottom: .4em solid transparent;
}

.remark-slide-content blockquote > p:first-child {
  margin-top: 0;
}
.remark-slide-content blockquote > p:last-child {
  margin-bottom: 0;
}
